body {
  background: #eaeaea;
  font-family: "Cutive Mono" ,"Courier New", Courier, monospace;
}

.wrapper {
  overflow: hidden;
  padding: 20px 80px;
  margin: 0 auto;
  max-width: 1260px;
  min-height: 400px;
}

h1 {
  font-size: 26px;
  text-align: center;
  margin: 40px 20px 0;
  position: relative;
}

.info {
  margin: 30px auto;
  padding: 20px;
  width: 450px;
}

footer {
  background: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

label {
  display: block;
  margin: 15px 0 0;
  font-weight: bold;
}

.form-item {
  min-width: 450px;
  margin: 10px auto;
  clear: both;
  display: block;
  text-align: center;
  border: none;
  padding: 14px;
  font-size: 20px;
}

input[name="id"] {
  opacity: 0.4;
}

.form {
  width: 900px;
  min-width: 350px;
  margin: 0 auto;
}

#submit-button {
  background: #ff4500;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

#running {
  margin-top: 20px;
  display: none;
  text-align: center;
}

.hidden {
  position: absolute;
  visibility: hidden;
}
